@model gestionUniversidadC_.Models.ViewModels.CarrerasEditViewModels
@{
    ViewBag.Title = "Modificar Carrera";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Edit", "Carrera", FormMethod.Post, new { @class = "" }))
        {
            Html.AntiForgeryToken();

            @Html.ValidationMessage("error", new { @class = "text-danger" });

            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })
            @Html.ValidationMessage("Nombre", new { @class = "text-danger" });

            @Html.LabelFor(d => d.DuracionAnios)
            @Html.TextBoxFor(d => d.DuracionAnios, new { @class = "form-control", maxlength = 1, type = "number" })
            @Html.ValidationMessage("DuracionAnios", new { @class = "text-danger" });


            <div style="text-align:right;">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        }
    </div>
</div>